<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      Calculate Your BMI - Standard BMI Calculator
    </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
  <body>
<div class="container">
<table width="1002px" summary="layout table">
<tr>
  <td>
  <div id="block-sitebranding-2" class="contextual-region block block-system block-system-branding-block">
<div id="banner">
      <span>BMI Calculator</span>
</div>
</div>
</td>
<tr>
<tr>
<td>
<table width="995px" border="0" cellpadding="0" cellspacing="0" summary="layout table" style="margin-left:5px;">
<tr>
  <td colspan="2">
  <div id="Breadcrumbs">
  <a href="/home">Home</a>
  </div>
</td>
</tr>
<tr valign="top">
<td bgcolor="#FFFFFF" width="200">
<br />
</td>
<td width="795">
<div id="aimtxt">
<br />
<table border="0" cellpadding="4" cellspacing= "0" summary="layout table">
  <tr valign="top">
  <td width="795" style="padding-left:28px; padding-right:28px;">
    <a name="content" id="content"></a> 
    <!--Start Body Text-->
    <h1>
       Calculate Your Body Mass Index
    </h1>
<p>
Body mass index (BMI) is a measure of body fat based on height and weight that applies to men and women.
</p>
<ul>
<li>Enter your weight and height
</li>
<li>Select "Compute BMI" and your BMI will appear below.
</li>
</ul>
<table summary="This table is used for layout purposes only." style="margin:auto;" class="bmibkg" width="520">
  <tr>
<td>
<form name="bmi_input" id="bmi_input">
<table border="0" cellpadding="4"cellspacing="0" width="510" summary="This table is used for layout purposes only.">
<tr>
<td width="250" valign="top" style="margin:auto;">
 <table border="0" cellpadding="0" cellspacing="0" width="200" summary="This table is used for layout purposes only."
class="bmiCalc" style= "margin:auto;">
<tr>
 <td bgcolor="#6F48B3" width="200" colspan="3">
<table width="209"
                                              border="0"
                                              cellpadding="0"
                                              cellspacing="0"
                                              summary=
                                              "This table is used for layout purposes only.">
                                              <tr>
                                                  <td valign="top">
                                                    <a>Check Your
                                                    BMI</a>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td bgcolor="#6F48B3"
                                            width="13">
                                              <img border="0"
                                              width="12" height="1"
                                              alt=" " />
                                            </td>
                                            <td bgcolor="#6F48B3"
                                            width="184">
                                              <table border="0"
                                              cellspacing="0"
                                              width="185" bgcolor=
                                              "#FFFFFF"
                                              cellpadding="2"
                                              summary=
                                              "This table is used for layout purposes only.">
                                              <tr>
                                                  <td colspan="3"
                                                  align="center"
                                                  class=
                                                  "colcenter">
                                                    <table border=
                                                    "0"
                                                    cellspacing="0"
                                                    width="185"
                                                    bgcolor=
                                                    "#FFFFFF"
                                                    cellpadding="2"
                                                    summary=
                                                    "This table is used for layout purposes only.">
                                                    <tr>
                                                        <td width=
                                                        "95" style=
                                                        "text-align:right;">
                                                        <strong>Your
                                                        Height:</strong>&nbsp;
                                                        </td>
                                                        <td width=
                                                        "59" align=
                                                        "left">
                                                          <input type="text"
                                                          name=
                                                          "htf"
                                                          size="3"
                                                          id=
                                                          "height_feet" />
                                                        </td>
                                                        <td width=
                                                        "50" align=
                                                        "left">
                                                          <input type="text"
                                                          name=
                                                          "hti"
                                                          size="3"
                                                          id=
                                                          "height_inches" />
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td width=
                                                        "95">
                                                          <span style="font-size: 10pt;">
                                                          &nbsp;</span>
                                                        </td>
                                                        <td width=
                                                        "45" align=
                                                        "left">
                                                          <strong><label for="height_feet">
                                                          (feet)</label></strong>
                                                        </td>
                                                        <td width=
                                                        "53" align=
                                                        "left">
                                                          <strong><label for="height_inches">
                                                          (inches)</label></strong>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td width=
                                                        "95" style=
                                                        "text-align:right;">
                                                        <strong><label for="your_weight">
                                                          Your
                                                          Weight:</label>
                                                          &nbsp;</strong>
                                                        </td>
                                                        <td width=
                                                        "45" align=
                                                        "left">
                                                          <input type="text"
                                                          name="wt"
                                                          size="3"
                                                          id=
                                                          "your_weight" />
                                                        </td>
                                                        <td width=
                                                        "53" align=
                                                        "left">
                                                          &nbsp;
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td width=
                                                        "95">
                                                          <span style="font-size: 10pt;">
                                                          &nbsp;</span>
                                                        </td>
                                                        <td align=
                                                        "left"
                                                        valign=
                                                        "top">
                                                          <strong>(pounds)</strong>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3"
                                                        align=
                                                        "center"
                                                        class=
                                                        "colcenter"
                                                        style=
                                                        "padding-top:5px;">
<input type="button" value="Compute BMI" (click)="this.compute()"/>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td colspan="3"
                                                        class=
                                                        "colcenter">
                                                        <table cellspacing="0"
                                                          cellpadding="0"
                                                          border=
                                                          "0"
                                                          width="150"
                                                          summary=
                                                          "This table is used for layout purposes only.">
                                                          <tr>
                                                              <td align="left"
                                                              background-repeat:=""
                                                              background-position:=""
                                                              center=""
                                                              height="201">
                                                              <div style="margin-left: 55px; margin-top: -3px">
                                                                <label for="yourbmi">
                                                                  <span style="font-size: .9em; font-weight:bold;">
                                                                  Your
                                                                  BMI:</span></label><br />

                                                                  <input name="bmi"
                                                                  type="text"
                                                                  size="4"
                                                                  id="yourbmi"
                                                                  style="text-align: center" />
                                                                  </div>
                                                              </td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                            <td bgcolor="#6F48B3"
                                            width="13">
                                              <img border="0"
                                              width="12" height="1"
                                              alt=" " />
                                            </td>
                                          </tr>
                                          <tr>
                                            <td bgcolor="#6F48B3"
                                            colspan="3" width=
                                            "100%" align="center">
                                              &nbsp;
                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                      <td valign="top">
                                        <p>
                                          <strong>BMI
                                          Categories:</strong><br />

                                          Underweight =
                                          &lt;18.5<br />
                                          Normal weight =
                                          18.5–24.9<br />
                                          Overweight =
                                          25–29.9<br />
                                          Obesity = BMI of 30 or
                                          greater
                                        </p>
                                      </td>
                                    </tr>
                                  </table>
                                </form>
                              </td>
                            </tr>
                          </table><!--End Body Text-->
                        </td>
                      </tr>
                    </table><!--END Aimtxt -->
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table><br />
    </div>
  </body>
</html>